@import "tailwindcss";

:root {
  --background: #FDFCF0;
  --foreground: #2D336B;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
